body{
    text-align: center;
    margin: 0;
    padding-top: 800px;
}

#img1 {
    width: 175px;
    margin-bottom: 50px;
    border-radius: 50%;
}

#bio {
    position: absolute;
    height: 800px;
    background: linear-gradient(aqua 0%, aquamarine 100%);
    color: aliceblue;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    padding-top: 200px;
    z-index: 2; 
    }

#section2 {
    padding: 50px;
    text-align: center;
    font-size: 40px;
}

.line {
    background-color: black;
    width: 70px;
    height: 6px;
    margin: 8px auto;
}

.menu {
    list-style: none;
    position: absolute;
    top: 10px;
    right: 30px;
    z-index: 10;
    cursor: pointer;
}

.links {
    float: left;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
}

.links:hover {
    color:indigo;
    text-decoration: underline;
    font-size: 25px;
}